body {
  background-color: #111;
}

h1, h2, h3, h4, h5, h6, p {
  color: #fff;
}

a {
  text-decoration: none;
}

.wrap {
  flex-wrap: wrap;
}

.star {
  color: rgb(255, 191, 0);
  font-size: 12px;
}
